{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>{{ pageTitle }}</title>
</head>
<dody>
    <h1>{{ pageTitle }}</h1>

    <a href="{{ path('app_form') }}">Lien vers le formulaire</a>

    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>
    <p>{{ message }}</p>
</dody>
</html>