{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="product-container">
        <h1 class="product-header">Product</h1>

        <table class="product-table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ product.label }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            </tbody>
        </table>

        <div class="product-links">
            <a href="{{ path('app_product_index') }}" class="back">Back to list</a>
            <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="edit">Edit</a>
            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
